<a href="https://colab.research.google.com/github/Kenneth-Asugas/CPE-103-OOP-1-A/blob/main/Variables_and_Data_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variables and Data Types

Numbers

In [1]:
varNum = 123
pi = 3.14159

Strings

In [2]:
varString = "Hello World"
varText = 'This is a String'

Lists

In [3]:
varList = ["abc", 123]

Tuples

In [4]:
varTuple = ('abc', 123, "Hello")

Dictionaries

In [5]:
var = 3
varDict = {'first':1, '2':'2nd', 3: var}

varDict = {}
varDict['first']= 1
varDict['2'] = '2nd'
varDict[3] = var

# Arithmetic

Addition

In [6]:
a = 5 + 3

Subtraction

In [7]:
a = 5 - 3

Multiplication

In [8]:
a = 5 * 3

Exponent

In [9]:
a = 5 ** 3

Division

In [10]:
a = 5 / 3

a = 5 % 3

a = 5 // 3

Increment/Decrement

In [11]:
a = 5
a += 1

Decrement

In [12]:
a = 5
a -= 1

String Concatenation

In [13]:
a = 'Hello ' + 'World!'

Complex Expressions

In [14]:
a = 3 + 5 - 6 * 2 / 4

# Control Statements and Data Structures

# Conditional Statements

Boolean Conditions

In [15]:
x = True

if x:
    print("var x is True")
else:
    print("var x is False")

var x is True

String Conditions

In [16]:
x = "Hello World"

if x == 'Hello World':
    print("var x is Hello World!")
else:
    print("var x is not Hello World!")

var x is Hello World!

Numerical Conditions

In [17]:
x = 10

if x == '10':
    print("var x is a string")
elif x == 10:
    print("var x is an integer")
else:
    print("var x is none of the above")

var x is an integer

# Loops

For Loops

In [18]:
for var in range(0, 5, 2):
    print(var)

0
2
4

While Loops

In [19]:
var = 0
while var < 5:
    print(var)
    var += 2

0
2
4

Nested Loops

In [20]:
x = 0
while x < 5:
  for y in range(0, x):
    print(y, end='')
  x += 1
  print()

0
01
012
0123

# Functions

Functions

In [21]:
def remainder(n, m):
  while True:
    if n - m < 0:
      return n
    else:
      n = n - m

remainder(10, 4)

2

Lists

In [22]:
pi = 3.14159
varList = [1, 2, 'A', 'B', 'Hello!', pi]
print(varList[0])

print(varList[4])

varList.append('World!')
print(varList[6])

len(varList)

print(varList[5])

varList.remove(pi)
print(varList[5])

1
Hello!
World!
3.14159
World!

Dictionaries

In [24]:
var = "Hello World!"
varDict = {'first' : 123, 2 : 'abc',
           '3' : var, 4 :['lista', 'listb']}
print(varDict['first'])

print(varDict[2])

print(varDict['3'])

print(varDict[4])

print(varDict[4][1])

len(varDict)

123
abc
Hello World!
['lista', 'listb']
listb

4

List Generators and Comprehension

In [25]:
def gen_num_up_to(n):
  num = 0
  while num < n:
    yield num
    num += 1

gen_num_up_to(5)

varList = gen_num_up_to(5)
print([var for var in varList])

def gen_num_up_to(n):
  num = 0
  while num < n:
    yield num
    num += 2

varList = gen_num_up_to(5)
print([var for var in varList])

varList = range(0, 5, 2)
print([var for var in varList])

[0, 1, 2, 3, 4]
[0, 2, 4]
[0, 2, 4]

Slicing

In [26]:
varList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(varList[:5])

print(varList[5:])

print(varList[:-2])

print(varList[-2:])

print(varList[2:-2])

print(varList[2:8:2])

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8]
[9, 10]
[3, 4, 5, 6, 7, 8]
[3, 5, 7]