<a href="https://colab.research.google.com/github/Kenneth-Asugas/CPE-103-OOP-1-A/blob/main/Operations_and_Expressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Boolean Operators

In [2]:
print(10>9)
print(10==9)
print(10<9)

True
False
False

Bool() Function

In [3]:
print(bool(1))
print(bool(0))
print(bool(-2))

True
False
True

Functions can return a Boolean

In [7]:
def myFunction():
  return True

print(myFunction())

True

In [10]:
def myFunction():
  return False
if myFunction():
  print("YES!")
else:
  print("NO!")

NO!

Python Operators

In [11]:
print(10+5)
print(10-5)
print(10*5)
print(10/5)
print(10**5)
print(10//5)
print(10%5)

15
5
50
2.0
100000
2
0

Python Bitwise Operations

In [19]:
a=60
b=13

print(a&b)
print(a|b)
print(a^b)
print(~a)
print(a<<2)

12
61
49
-61
240

Python Assignment Operators

In [30]:
x=3

x +=3
print(x)

x -=3
print(x)

x *=3
print(x)

x /=3
print(x)

x %=3
print(x)

6
3
9
3.0
0.0

Logical Operators

In [31]:
10>9 and 9>10

False

In [32]:
not(10>9 and 9>10)

True

Identity Operator

In [34]:
x=1
y=2
print(x is y)
print(x is not y)

False
True

Conditional Statement

If Statement

In [48]:
a = 12
b = 100

if b > a:
  print("b is greater than a")

b is greater than a

Elif Statements

In [49]:
a = 12
b = 12

if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

Else Statements

In [50]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

Short Hand If Statement

In [51]:
if a > b : print("a is greater than b")

a is greater than b

Short Hand If..Else Statement

In [52]:
a = 2
b = 330

print("A") if a > b else print("B")

B

And-both conditions are true

In [53]:
a = 200
b = 33
c = 500

if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

Or-at least one of the conditions is true

In [54]:
a = 200
b = 33
c = 500

if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

Nested If Else

In [64]:
x = float(input("Enter a number: "))

if x > 10:
  print("Above Ten")
  if x > 20:
    print("Above Twenty")
    if x > 30:
      print("Above Thirty")
      if x > 40:
        print("Above Fourty")
        if x > 50:
          print("Above Fifty")
        else:
          print("Below Fifty")
      else:
        print("Below Fourty")
    else:
      print("Below Thirty")
  else:
    print("Below Twenty")
else:
  print("Below Ten")

Enter a number: 41
Above Ten
Above Twenty
Above Thirty
Above Fourty
Below Fifty

ACTIVITY

Ex. #1

In [65]:
a = float(input("Enter you Age: "))

if a >= 18:
  print("You are eligible to vote")
else:
  print("You are not eligible to vote")

Enter you Age: 17
You are not eligible to vote

Ex. #2

In [69]:
a = float(input("Enter a Number: "))

if a > 0:
  print("Positive")
elif a < 0:
  print("Negative")
else:
  print("Zero")

Enter a Number: -4
Negative

Ex. #3

In [72]:
a = float(input("Enter your Grade: "))

if a >= 75:
  print("Passed")
elif a == 74:
  print("Remedial")
else:
  print("Failed")

Enter your Grade: 71
Failed