<a href="https://colab.research.google.com/github/Kenneth-Asugas/CPE-103-OOP-1-A/blob/main/Procedure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assigning variables of different data types in Python

1.

In [7]:
value=5
print(value)

5

2.

In [8]:
type(value)

int

3.

In [9]:
value=5.0
print(value)

5.0

4.

In [4]:
type(value)

float

5.

In [11]:
value=2+3j
print(value)

value='Hello World'
print(value)

value="Hello World"
print(value)

value=True
print(value)

value=False
print(value)

value=[1,2,3,4,5]
print(value)

value=(1,2,3,4,5)
print(value)

value={'name': 'Your_name'}
print(value)

value=None
print(value)

(2+3j)
Hello World
Hello World
True
False
[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'name': 'Your_name'}
None

6.

In [12]:
value = 5

7.

In [13]:
value2 = -6

# Performing Operations with Python

1.

In [15]:
value = 5
value2 = -6
print(value + value2)

-1

2.

In [22]:
value, value2 = 5.0, 6
print(value + value2)

value, value2 = -5, 6.1
print(value + value2)

value, value2 = "Hello", " world"
print(value + value2)

value, value2 = [1, 2, 3], [4, 5, 6]
print(value + value2)

value, value2 = (1, 2, 3), (4, 5, 6)
print(value + value2)

value, value2 = {"name": "Royce"}, {"age": 2}
print({**value, **value2})

11.0
1.0999999999999996
Hello world
[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 5, 6)
{'name': 'Royce', 'age': 2}

3.

In [23]:
value, value2 = 30, 4
print(value * value2)
print(value2**2)
print(value2**3)
print(value * value2 + value2**2 + 1)
print(value / value2)
print(value % value2)

120
16
64
137
7.5
2

# Receiving Input Data using Python

In [24]:
name = input("Enter your name: ")
print("Hello, " + name + "!")

Enter your name: Ken
Hello, Ken !

# Assigning Input Data to a Variable

1.

In [30]:
name = input("Enter your name: ")

Enter your name: Asugas

2.

In [31]:
weight = float(input("Enter your weight (kg): "))

Enter your weight (kg): 58

3.

In [32]:
height = float(input("Enter your height (m): "))

Enter your height (m): 1.69

4.

In [33]:
bmi = weight / (height**2)

5.

In [34]:
bmi = weight / (height**2)

6.

In [29]:
name= input("Enter your name: ")
weight= float(input("Enter your weight: "))
height= float (input("Enter your height: "))
bmi= (weight)/(height)**2

print("Name: ", name)
print("Weight: ", weight)
print("Height: ", height)
print("BMI: ", bmi)

Enter your name: Asugas
Enter your weight: 58
Enter your height: 1.69
Name:  Asugas
Weight:  58.0
Height:  1.69
BMI:  20.307412205454995