<a href="https://colab.research.google.com/github/Kenneth-Asugas/CPE-103-OOP-1-A/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [3]:
if 5>2:
  print ("five is greater than two!")

five is greater than two!

Python Comments

In [5]:
#This is a comment
print("Hello, world")

Hello, world

Variable Naming Convention

Python Variable

In [15]:
x = 1
a,b=0,-1
a,b,c=0,-1,2
print (a)
print (b)
print (c)
c="Sally" #This is a type of string

0
-1
2

Casting

In [13]:
b="sally" #This is a type of string
print(b)
b=int(4)
print(b)

b=float(4)
print(b)

sally
4
4.0

Type() function

In [16]:
x = 5
y ="john"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

"Double quotes" or 'Single' quotes

In [20]:
x="John"
y='Sally'
print(x)
print(y)

John
Sally

Case Sensitive

In [22]:
from abc import ABCMeta
a=4
A="Sally"
print(a)
print(A)
#A will not overwrite a

4
Sally

Multiple Variables

In [27]:
x,y,z="one","two","three"
print(x)
print(y)
print(z)

one
two
three

One Value to Multiple Variables

In [26]:
x=y=z="four"
print(x)
print(y)
print(z)

four
four
four

Output Variables

In [31]:
x="enjoying"
print("Python programming is "+x)

Python programming is enjoying

In [32]:
x="Python is "
y="enjoying"
z=x+y
print(z)

Python is enjoying

Arithmetic Operations

In [34]:

x = 10
y = 3
#Exponentiation
print(x**2)
print(x/y)
#Floor Division
print(x//y)
#Modulo
print(x%y)

100
3.3333333333333335
3
1

Assignment Operators

In [35]:
x = 3
x*= 3 # x = x * 3
print(x)

9

Comparison Operator

In [37]:
x = 3
y = 9
print(x<y)

True

Logical Operators

In [38]:
x = 5
y = 2
not(x>y)

False

Bitwise Operator

In [57]:
#decimal to binary
#10 = 1010
x = 10
print(x>>1)

5

Application 1

In [66]:
#area of a circle
pi = 3.14
r = input() #radius
area = int(r) * pi * int(r) * int(r)
print(area)

5
392.5

In [68]:
#volume of a cone
pi = 3.14
r = float(input())  #radius
h = float(input())  #height
volume = (1/3) * pi * r * r * h
print(volume)

3
4
37.67999999999999

In [69]:
#volume of a cylinder
pi = 3.14
r = float(input())  #radius
h = float(input())  #height
volume = pi * r * r * h
print(volume)

5
6
471.0