<a href="https://colab.research.google.com/github/Kenneth-Asugas/CPE-103-OOP-1-A/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For Loop

In [23]:
week = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]

for x in week:
  if x == "Thursday":
    break
  print(x)

Monday
Tuesday
Wednesday

Looping Through a String

In [44]:
for x in "week":
  print(x)

w
e
e
k

The Range() Function

In [3]:
for x in range(6):
  print(x)

for x in range(2, 6):
  print(x)

0
1
2
3
4
5
2
3
4
5

Nested Loops

In [5]:
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adjective:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

While Loops

In [6]:
i = 1
while i < 6:
  print(i)
  i += 1 #i = i+1 Assignment operator

1
2
3
4
5

The Break Statement

In [19]:
i = 1
while i < 6:
 print(i)
 if i == 3:
  break
 i += 1 #i = i+1

1
2
3

The Continue Statement

In [37]:
i = 1
while i < 6:
  if i == 3:
    i += 1
    continue
  print(i)
  i += 1

1
2
4
5

The Else Statement

In [38]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

# Application 1

In [43]:
x = ["Hello"]
y = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for a in x:
 for b in y:
    print(a, b)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

# Practical Test

In [60]:
i = 3
while i < 10:
  print(i)
  i += 1

3
4
5
6
7
8
9